@mixin normal-text() {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-weight: normal;
  @content;
}

@mixin tablet() {
  @media all and (min-width: 768px) {
    @content;
  }
}
