// fonts
$font-titles: "Roboto Slab", serif;
$font-text: "Roboto", sans-serif;
// colors

$favorites-border: rgba(0, 0, 0, 0.5);
$series-backgroundColor: rgba(255, 255, 255, 0.8);
$fav-backgroundColor: rgba(248, 192, 70, 0.8);
$Btn-color: rgb(248, 192, 70);
$border-color: black solid;
$gradient-header: linear-gradient(to bottom, #f5f5f5, rgb(248, 192, 70));
$main-backgroundColor: linear-gradient(to bottom, #f5f5f5, rgb(151, 235, 250));
