.header {
  margin: 15px 30px;
  display: flex;
  justify-content: start;
  height: 45px;
  &__img {
    width: 110px;
    margin-right: 30px;
  }
  &__title {
    @include normal-text() {
    }
    font-family: $font-titles;
    font-size: 25px;
    padding-top: 5px;
  }
}
