@import "core/mixins";
@import "core/variables";
@import "core/reset";
@import "layout/header";

.main {
  padding: 20px 20px;
  height: calc(100vh - 75px);
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;
  background-image: url(../images/fondo.jpg);
  background-position: center;
  background-size: cover;
}

.searchContainer {
  padding: 20px 40px;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  &__input {
    margin-right: 10px;
    width: 200px;
    padding-left: 5px;
  }
  &__searchBtn {
    width: 60px;
  }
}
.series__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
}
.previewSerie {
  border: black solid 2px;
  padding: 3px;
  margin: 0 5px 15px;
  background-color: $series-backgroundColor;
  &__title {
    font-family: $font-text;
    font-size: 10px;
    text-align: center;
    margin-bottom: 5px;
  }
  &__img {
    height: 150px;
    width: 110px;
  }
}
.favoritesContainer {
  padding: 20px;
}
.favoritesSeries {
  @include normal-text() {
  }

  font-family: $font-titles;
  font-size: 15px;
  text-align: center;
}
