@import "core/mixins";
@import "core/variables";
@import "core/reset";
@import "layout/header";

.main {
  padding: 20px 5px;
  height: calc(100vh - 75px);
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  background-image: url(../images/fondo.jpg);
  background-position: center;
  background-size: cover;
}

.searchContainer {
  padding: 20px 40px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  &__input {
    margin-right: 10px;
    height: 30px;
    width: 200px;
    padding-left: 5px;
    font-family: $font-text;
    font-size: 15px;
  }
  &__searchBtn {
    height: 30px;
    width: 60px;
    font-family: $font-text;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: $Btn-color;
    border: 0;
    padding: 3px;
    outline: none;
    cursor: pointer;
  }
}
.series__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.previewSerie {
  border: black solid 2px;
  padding: 5px;
  margin: 0 5px 15px;
  background-color: $series-backgroundColor;
  &__title {
    font-family: $font-text;
    font-size: 10px;
    text-align: center;
    margin-bottom: 5px;
  }
  &__img {
    height: 170px;
    width: 130px;
  }
}
.fav {
  background-color: $fav-backgroundColor;
}
.favorites {
  border-right: 2px solid $favorites-border;
  padding: 0 10px;
  overflow-y: scroll;
  direction: rtl;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  &__title {
    @include normal-text() {
    }
    font-family: $font-titles;
    font-size: 18px;
    text-align: center;
  }
  &__container {
    padding: 20px;
    height: auto;
    direction: ltr;
  }
}
.favSerie {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .favSerie-list {
    border: black solid 2px;
    padding: 5px;
    margin: 0 5px 15px;
    text-align: center;
    background-color: $fav-backgroundColor;
    &__title {
      @include normal-text() {
      }
      font-family: $font-titles;
      font-size: 10px;
      margin-bottom: 5px;
    }
    &__img {
      height: 100px;
      width: 80px;
    }
    &__clean {
      width: 12px;
      height: 12px;
      transform: translate(35px);
      padding: 1px;
      border: black solid 1px;
    }
  }
}

.reset {
  margin-top: 10px;
  text-align: center;

  &__Btn {
    width: 150px;
    font-family: $font-text;
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
    background-color: $Btn-color;
    border: 0;
    padding: 3px;
    outline: none;
    cursor: pointer;
  }
}
